<div class="dashboard-container">
  <div class="main-content bg-light">
      <div class="info">
        <div class="well">
          <table class="table">
            <h3>New Announcement</h3>
            <tbody>
              <%= form_with model: @announcement, local: true, html: { multipart: true } do |f| %>
                <tr>
                  <td><%= f.label :title %></td>
                  <td><%= f.text_field :title %></td>
                </tr>
                <tr>
                  <td><%= f.label :content %></td>
                  <td><%= f.text_area :content %></td>
                </tr>
                <tr>
                  <td><%= f.label :image %></td>
                  <td><%= f.file_field :image %></td>
                </tr>
                <tr>
                  <td><%= f.submit 'Create Announcement', class: "btn btn-info" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Back", :back %>
        </div>
      </div>
  </div>
</div>