<div class="dashboard-container">
  <div class="main-content bg-light">
      <div class="info">
        <div class="well">
          <table class="table">
            <h3>New Assignment</h3>
            <tbody>
              <%= form_with model: @assignment, local: true do |f| %>
							  <tr>
							    <td><%= f.label :title %></td>
							    <td><%= f.text_field :title %></td>
							  </tr>
							  <tr>
							    <td><%= f.label :description %></td>
							    <td><%= f.text_area :description %></td>
							  </tr>
							  <tr>
							  	<td><%= f.label :course %></td>
							  	<td><%= f.select :course_id, @courses %></td>
							  </tr>
							  <tr>
							  	<td><%= f.submit 'Create Assignment', class: "btn btn-info" %></td>
							  </tr>
							<% end %>
            </tbody>
          </table>
          <%= link_to "Back", :back %>
        </div>
      </div>
  </div>
</div>