<div class="wrapper">
  <%= render 'layouts/sidenavbar' %>
  <div class="main_content">
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>  
      <div class="info">
        <div class="well">
          <table class="table">
            <h3>New Term</h3>
            <tbody>
              <%= form_with model: @term, local: true do |f| %>
							  <tr>
							    <td><%= f.label :name %></td>
							    <td><%= f.text_field :name %></td>
							  </tr>
							  <tr>
							  	<td><%= f.submit 'Create Term', class: "btn btn-info" %></td>
							  </tr>
							<% end %>
            </tbody>
          </table>
          <%= link_to "Back", :back %>
        </div>
      </div>
  </div>
</div>