<% if current_user.present? %>
  <div class="sidebar bg-white border-end">
    <div class="p-3">
      <h2 class="mb-4">
        <i class="fas fa-graduation-cap me-2"></i>
        Digital Learning
      </h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path)}" do %>
            <i class="fas fa-home me-2"></i> Dashboard
          <% end %>
        </li>
        <% if current_user.present? && current_user.instructor? %>
          <li class="nav-item mb-2">
            <%= link_to terms_path, class: "nav-link #{'active' if current_page?(terms_path)}" do %>
              <i class="fas fa-calendar-alt me-2"></i> Terms
            <% end %>
          </li>
        <% end %>
        <li class="nav-item mb-2">
          <%= link_to courses_path, class: "nav-link #{'active' if current_page?(courses_path)}" do %>
            <i class="fas fa-book me-2"></i> Courses
          <% end %>
        </li>
        <li class="nav-item mb-2">
          <%= link_to assignments_path, class: "nav-link #{'active' if current_page?(assignments_path)}" do %>
            <i class="fas fa-tasks me-2"></i> Assignments
          <% end %>
        </li>
        <% if current_user.present? && current_user.admin? %>
          <li class="nav-item mb-2">
            <%= link_to announcements_path, class: "nav-link #{'active' if current_page?(announcements_path)}" do %>
              <i class="fas fa-bullhorn me-2"></i> Announcements
            <% end %>
          </li>
          <li class="nav-item mb-2">
            <%= link_to users_path, class: "nav-link #{'active' if current_page?(users_path)}" do %>
              <i class="fas fa-users me-2"></i> Users
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
